<tr class="kanji-row" style="vertical-align: middle" data-content="<%= kanji.kanji %> | <%= kanji.entry %> | <%= kanji.frame_number %> | <%= kanji.radicals %>" id="<%= dom_id kanji %>">
  
  <td style="font-size: 150%"><a href="https://jisho.org/search/<%= kanji.kanji %> %23kanji" target="_blank"><%= kanji.kanji %></a></td>
  <td><%= kanji.entry %></td>
  <td><%= kanji.radicals %></td>
  <td><%= kanji.frame_number %></td>
  <td align="right"><i class="bi bi-clipboard-fill text-primary p-2" onclick="copyRowToClipboard(this)"></i></td>
</tr>

<%= javascript_include_tag 'views/kanjis/_kanji' %>
